<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        {% block stylesheets %}{% endblock %}
        <style>
            .grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
            }
            .filter {
                display: block;
                position: sticky;
                top: 20px;
            }
        </style>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary">
            <a href="/" class="navbar-brand mb-0 h1">Market</a>
        </nav>

        <div style="margin-top: 3rem;">
            {% block body %}{% endblock %}
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous">
        </script>
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') | replace({'src=': 'defer src='}) | raw }}
    </body>
</html>
